body {
    background-color: #eee;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    color: #fff;
    background-color: #0072b0;
    border-radius: .5em;
}

main {
    display: block;

}

.main {
    background-color: #fff;
    border-radius: .5em;
    float: left;
    width: 70%;
    box-sizing: border-box;
}

.sidebar {
    padding: 1.5em;
    background-color: #fff;
    border-radius: .5em;
    float: left;
    width: calc(30% - 1.5em);
    margin-left: 1.5em;
    padding: 1.5em;
    box-sizing: border-box;
}